* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h1{
    background-color: rgb(192, 111, 255);
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
  }
  .todowrap {
    background-color: rgb(192, 111, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10%;
  }
  .todo-container {
    background-color: rgb(170, 246, 255);
    max-width: 700px;
    width: 100%;
    padding: 20px;
  }
  .add-task-wrap {
    padding: 20px;
    text-align: center;
    opacity: 1;
    background-color: #21f3e5;
    color: #2e4265;
  }
  .list-input-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .input-filed {
    border: 0;
    height: 30px;
    margin: 0px;
    width: 70%;
    color: #000000;
    padding: 20px;
    font-size: 20px;
  }
  .btn-sub:hover{
    background-color: rgb(154, 60, 161);
  }
  .btn-sub {
    width: 100px;
    height: 35px;
    padding: 0 3px;
    background-color: rgb(0, 0, 0);
    border: none;
    letter-spacing: 0;
    color: #6aff00;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
  }
  .todo-task-list {
    margin-top: 40px;
  }
  .heading-tasklist {
    font-style: italic;
    font-size: 30px;
    color: #0d00ff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
